						<!-- body_main_contents_title:START -->
                        <div class="content-title">{{pageTitle}}
                            <div class="title-btn">
                                <ul>
                                    <li><div ng-show="SAV_BTN == 'Y'"><span class="glyphicon glyphicon-floppy-disk"></span> 저장</div></li>
                                    <li><div><span class="glyphicon glyphicon-remove"></span> 삭제</div></li>
                                    <li><div><span class="glyphicon glyphicon-repeat"></span> 초기화</div></li>
                                    <li><div><span class="glyphicon glyphicon-file"></span> 엑셀</div></li>
                                    <li><div><span class="glyphicon glyphicon-fullscreen"></span> 최대화</div></li>
                                </ul>
                            </div>
                        </div>
                        <!-- body_main_contents_title:END -->
                        <!-- body_main_contents_content:START -->
                        <div class="content">
                            <!-- body_main_contents_content:START -->
                            <!-- body_main_contents_content_type1_option:START -->
                            <table class="table table-bordered t-table">
                                <tbody>
                                    <tr>
                                        <td class="title">회사 <span>*</span></td>
                                        <td>
                                            <input type="text" class="form-control input-sm input-required f-l" style="width: 80px;" placeholder="">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </td>
                                        <td class="title">품목</td>
                                        <td>
                                            <input type="text" class="form-control input-sm input-required f-l mr-5" style="width: 80px;" placeholder="">
                                            <input type="text" class="form-control input-sm input-required f-l" style="width: 80px;" placeholder="">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </td>
                                        <td rowspan="2" style="vertical-align: middle;text-align: center;">
                                            <button class="btn btn-tbroad btn-xs">조회</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="title"><label><input type="checkbox" /> 기간</label></td>
                                        <td>
                                            <input type="text" class="form-control input-sm f-l" placeholder="" style="width: 80px;">
                                            <span class="glyphicon glyphicon-calendar"> ~&nbsp;</span>
                                            <input type="text" class="form-control input-sm f-l mr-5" placeholder="" style="width: 80px;">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </td>
                                        <td class="title"><label><input type="checkbox" /> 설계서코드</label></td>
                                        <td>
                                            <input type="text" class="form-control input-sm f-l" placeholder="" style="width: 80px;">
                                            <span class="glyphicon glyphicon-calendar"> ~&nbsp;</span>
                                            <input type="text" class="form-control input-sm f-l mr-5" placeholder="" style="width: 80px;">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                            <!-- body_main_contents_content_type1_option:END -->
                            <!-- body_main_contents_content_type1_action:START -->
                            <table class="table table-bordered t-table">
                                <tbody>
                                    <tr>
                                        <td class="title">장비코드</td>
                                        <td><input type="text" class="form-control input-sm" placeholder="" readonly="" value="asdf"></td>
                                        <td class="title">장비명</td>
                                        <td><input type="text" class="form-control input-sm" placeholder="" readonly="" value="asdf"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr>
                            <div class="r-btn-wrap">
                                <button class="btn btn-tbroad2 btn-xs">(재고)공사출고증출력</button>
                                <button class="btn btn-tbroad2 btn-xs">(구매)공사출고증출력</button>
                            </div>
							<!-- body_main_contents_content_type1_action:END -->
							<!-- body_main_contents_content_type1_grid:START -->
							<h5 class="t-title mt--15">타이틀</h5>
                            <div class="specification"></div>
                            <h5 class="t-title">타이틀</h5>
                            <div class="specification"></div>
                            <!-- body_main_contents_content_type1_grid:END -->
                            <!-- body_main_contents_content:END -->
                        </div>
                        <!-- body_main_contents_content:END -->