						<!-- body_main_contents_title:START -->
                        <div class="content-title">{{pageTitle}}
                            <div class="title-btn">
                                <ul>
                                    <li><div ng-show="SAV_BTN == 'Y'"><span class="glyphicon glyphicon-floppy-disk"></span> 저장</div></li>
                                    <li><div><span class="glyphicon glyphicon-remove"></span> 삭제</div></li>
                                    <li><div><span class="glyphicon glyphicon-repeat"></span> 초기화</div></li>
                                    <li><div><span class="glyphicon glyphicon-file"></span> 엑셀</div></li>
                                    <li><div><span class="glyphicon glyphicon-fullscreen"></span> 최대화</div></li>
                                </ul>
                            </div>
                        </div>
                        <!-- body_main_contents_title:END -->
                        <!-- body_main_contents_content:START -->
                        <div class="content">
                            <!-- body_main_contents_content:START -->
                            <!-- body_main_contents_content_type1_option:START -->
                            <table class="table table-bordered t-table">
                                <tbody>
                                    <tr>
                                        <td class="title">회사 <span>*</span></td>
                                        <td>
                                            <input type="text" class="form-control input-sm f-l" style="width: 80px;" placeholder="">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </td>
                                        <td class="title">품목</td>
                                        <td>
                                            <input type="text" class="form-control input-sm f-l" style="width: 80px;" placeholder="">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </td>
                                        <td class="title">품목</td>
                                        <td>
                                            <input type="text" class="form-control input-sm" placeholder="">
                                        </td>
                                        <td rowspan="2" style="vertical-align: middle;text-align: center;">
                                            <button class="btn btn-tbroad btn-xs">조회</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="title">기간</td>
                                        <td>
                                            <select class="form-control input-sm f-l">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </td>
                                        <td class="title">설계서코드</td>
                                        <td>
                                            <select class="form-control input-sm f-l">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </td>
                                        <td class="title">설계서명</td>
                                        <td>
                                            <input type="text" class="form-control input-sm f-l" placeholder="" style="width: 80px;">
                                            <span class="glyphicon glyphicon-calendar"> ~&nbsp;</span>
                                            <input type="text" class="form-control input-sm f-l mr-5" placeholder="" style="width: 80px;">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- body_main_contents_content_type1_option:END -->
                            <!-- body_main_contents_content_type1_action:START -->
							<!-- body_main_contents_content_type1_action:END -->
							<!-- body_main_contents_content_type1_grid:START -->
							<hr>
                            <table style="width: 100%">
                                <tbody>
                                    <tr>
                                        <td style="width: 30%">
                                            <div class="specification"></div>
                                        </td>
                                        <td style="text-align: center">
                                            &nbsp;
                                        </td>
                                        <td style="width: 69%">
                                            <div class="specification"></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="r-btn-wrap">
                                <button class="btn btn-tbroad2 btn-xs">국사추가</button>
                                <button class="btn btn-tbroad2 btn-xs">국사이동</button>
                                <button class="btn btn-tbroad2 btn-xs">국사삭제</button>
                                <button class="btn btn-tbroad2 btn-xs">수량변경</button>
                                <button class="btn btn-tbroad2 btn-xs">불량등록</button>
                                <button class="btn btn-tbroad2 btn-xs" disabled="disabled">저장</button>
                                <button class="btn btn-tbroad2 btn-xs" disabled="disabled">삭제</button>
                            </div>
                            <div class="specification"></div>
                            <!-- body_main_contents_content_type1_grid:END -->
                            <!-- body_main_contents_content:END -->
                        </div>
                        <!-- body_main_contents_content:END -->