        <div class="login-body">
            <div class="login-wrap">
                <div class="login-header">
                    <img src="img/img_logo.png" />
                    <span>공사공정관리시스템</span>
                </div>
                <form name="loginForm" ng-submit="submitLoginForm(loginForm.$valid)" >
                    <table>
                        <colgroup>
                            <col style="width:180px">
                            <col style="width:110px">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td><input type="text" placeholder="아이디" name="loginid" ng-model="login_id" ng-minlength="3" ng-maxlength="8" required/></td>
                                <td class="ta-c" rowspan="2"><button type="submit" class="btn_login">Login</button></td>
                            </tr>
                            <tr>
                                <td><input type="password" placeholder="비밀번호" name="loginpwd" ng-model="login_pwd" required/></td>
                            </tr>
                            <tr class="list_user">
                                <td><input type="checkbox" ng-model="login_id_save"/> 아이디 저장</td>
                                <td class="ta-c">비밀번호 분실</td>
                            </tr>
                            <tr>
                            	<td>
                            		<p ng-show="loginForm.loginid.$invalid && !loginForm.loginid.$pristine">아이디를 입력하시거나 올바른 아이디를 입력하세요!</p>
                            		<p ng-show="loginForm.loginpwd.$invalid && !loginForm.loginpwd.$pristine">패스워드를 입력하세요!</p>
                            	</td>
                            </tr>
                        </tbody>
                    </table>
                    <span class="system_charge">시스템 담당자 : 티시스 아무개 (070-8188-0000)</span>
                </form>
            </div>
        </div>