					<!-- body_main_contents_title:START -->
					<div class="content-wrap">
                        <div class="content">
                            <div class="dash-container">
                                <div class="dash-top">
                                    <table class="table table-bordered t-table">
                                        <tbody>
                                            <tr>
                                                <td class="title">공사요약<span class="title-r">2015-01</span></td>
                                            </tr>
                                            <tr>
                                                <td class="dash-top-content construction">
                                                    <div class="this_month">당월 <span>1</span> 건</div>
                                                    <div class="previous_month">전월 <span>0</span> 건</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="dash-empty"></div>
                                <div class="dash-top">
                                    <table class="table table-bordered t-table">
                                        <tbody>
                                            <tr>
                                                <td class="title">공사요약<span class="title-r">2015-01</span></td>
                                            </tr>
                                            <tr>
                                                <td class="dash-top-content">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="dash-empty"></div>
                                <div class="dash-top">
                                    <table class="table table-bordered t-table">
                                        <tbody>
                                            <tr>
                                                <td class="title">자재요약<span class="title-r">2015-01</span></td>
                                            </tr>
                                            <tr>
                                                <td class="dash-top-content">
                                                    <div class="piechart-wrap">
                                                        <div class="chart-info"><span class="r"></span> 입고<span class="g"></span> 출고</div>
                                                        <div class="piechart">
                                                            <div class="cf-svp clearfix" id="svp-1">
                                                                <div class="chart" data-percent="20" data-layout="l-6-4">
                                                                    <div class="metrics">
                                                                        <span class="metric">20</span>
                                                                        <span class="metric-small"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <h5>당월</h5>
                                                        </div>
                                                        <div class="piechart">
                                                            <div class="cf-svp clearfix" id="svp-2">
                                                                <div class="chart" data-percent="80" data-layout="l-6-4">
                                                                    <div class="metrics">
                                                                        <span class="metric">80</span>
                                                                        <span class="metric-small"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <h5>전월</h5>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <table class="table table-bordered t-table">
                                <tbody>
                                    <tr>
                                        <td class="title">상세현황<span class="title-r"><select><option>가나다라</option><option>마바사아</option></select></span></td>
                                    </tr>
                                    <tr>
                                        <td style='position: relative'>
                                            <div class="columnchart_map">
                                                <ul>
                                                    <li class='active'>요청</li>
                                                    <li>검토</li>
                                                    <li>승인</li>
                                                    <li>착공</li>
                                                    <li>준공</li>
                                                    <li>완료</li>
                                                </ul>
                                            </div>
                                            <div class="columnchart">
                                                <div id="columnchart_material" style="width: 100%; height: 160px;"></div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-bordered t-table">
                                <tbody>
                                    <tr>
                                        <td class="title">공지사항<span class="title-r">More</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <ul class="dash-notice">
                                                <li>
                                                    <span class="subject">
                                                        <span class="label label-danger">new</span> 1분기사업부별 공사업체 평가기간
                                                    </span>
                                                    <span class="date">2015-04-04</span>
                                                    <span class="writer">홍길동</span>
                                                </li>
                                                <li>
                                                    <span class="subject">
                                                        1분기사업부별 공사업체 평가기간
                                                    </span>
                                                    <span class="date">2015-04-04</span>
                                                    <span class="writer">홍길동</span>
                                                </li>
                                                <li>
                                                    <span class="subject">
                                                        1분기사업부별 공사업체 평가기간
                                                    </span>
                                                    <span class="date">2015-04-04</span>
                                                    <span class="writer">홍길동</span>
                                                </li>
                                                <li>
                                                    <span class="subject">
                                                        1분기사업부별 공사업체 평가기간
                                                    </span>
                                                    <span class="date">2015-04-04</span>
                                                    <span class="writer">홍길동</span>
                                                </li>
                                                <li>
                                                    <span class="subject">
                                                        1분기사업부별 공사업체 평가기간
                                                    </span>
                                                    <span class="date">2015-04-04</span>
                                                    <span class="writer">홍길동</span>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>  
                    <!-- body_main_contents_content:END -->