		<div class="popup-wrap">
            <header>
                <div class="logo">거래처코드 조회</div>
            </header>
            <div class="t-container">
                <div class="content">
                    <table class="table table-bordered t-table t-popup-table">
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" class="form-control input-sm input-required" placeholder="a" ng-model="breedform.name">
                                </td>
                                <td class="ta-c">
                                    <button class="btn btn-tbroad btn-xs" ng-click="onSearch()">조회</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" class="form-control input-sm input-required" placeholder="a" ng-model="breedform.name">
                                </td>
                                <td class="ta-c">
                                    <button class="btn btn-tbroad btn-xs" ng-click="dialogTwoTest('clear')">추가_팝업</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="specification">
                    <div id="grdBreed"></div>
                    </div>
                </div>
            </div>
        </div>